@import "tailwindcss";

@theme {
  /* Mendaftarkan warna kustom Harapan Jaya */
  --color-padang-maroon: #4A0E17;
  --color-padang-gold: #D4AF37;
  --color-padang-cream: #F9F6F0;
  --color-padang-dark: #2B080D;

  /* Mengatur font agar sesuai desain */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}